requests==2.25.1
tensorflow==2.8.0
streamlit==0.76.0
click==8.0.4
google_api_python_client==1.12.8
protobuf==3.14.0
opencv-python==4.5.5.64
tqdm==4.64.0
matplotlib==3.5.1
scipy==1.7.3
scikit-learn==1.0.2
